<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.select_placesapp">

    <!--네트워크 상태 엑세스 권한 가져온다.-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--인터넷 권한 가져온다.-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--외부저장소 이용 권한 가져온다.-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--위치 정보 엑세스 권한 가져온다.-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--위도와 경도 탐색 권한 가져온다.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.example.bernardlao.googlemapaccess.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="나만의 명소"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SetLocationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MapViewActivity"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_api_key"/>
    </application>

</manifest>